/* Rubik */
@font-face {
  font-family: "Rubik Regular";
  src: url("../fonts/Rubik/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubik Light";
  src: url("../fonts/Rubik/Rubik-Light.ttf");
}
@font-face {
  font-family: "Rubik Medium";
  src: url("../fonts/Rubik/Rubik-Medium.ttf");
}
@font-face {
  font-family: "Rubik Bold";
  src: url("../fonts/Rubik/Rubik-Bold.ttf");
}
h1,
h2,
h3 {
  font-family: "Boing", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.2;
  font-weight: 800;
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}



.dropdown {
  top: 50px;
}

